{% load static %}

<!Doctype html>
<html lang='en'>
    <head>
        <title>{% block title %}XtraClass{% endblock %}</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'voting/css/style.css' %}" rel="stylesheet">
        <link href="{% static 'voting/css/mobile.css' %}" rel="stylesheet">

        {% block script %}
        {% endblock %}

    </head>
    <body>
        <section>
            <nav class="navbar">
                <a class="navbar-logo" href="{% url 'index' %}" ><img src="{% static 'voting/logo.png' %}"></a>

                <ul>
                    
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span>Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    {% endif %}
                </ul>
                
            </nav>
        </section>

        


        <section>
            {% block body %}
            {% endblock %}
        </section>


        <section>
            <footer>
                <p class="footer-text1"><strong>Vote Now</strong></p> 
                <p class="footer-text2">Copyright 20XX</p>
            </footer>
        </section>

    </body>
</html>